<mat-expansion-panel #expansionPanel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Add other expense
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field class="me-3">
      <mat-label>Descriprion</mat-label>
      <input matInput [(ngModel)]="description">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Amount</mat-label>
      <input matInput type="number" [(ngModel)]="amount">
    </mat-form-field>

    <input type="file" accept="image/*" capture="environment" class="file-input" 
    (change)="onFileSelected($event)" #fileUpload>

    <div class="file-upload">

    {{fileName || "Take a photo of your receipt"}}

        <button mat-mini-fab color="primary" class="upload-btn"
        (click)="fileUpload.click()">
            <mat-icon>camera_alt</mat-icon>
        </button>
    </div>

    @if (imgUrl) {
        <div class="w-100 d-flex justify-content-center">
            <img [src]="imgUrl" alt="" class="img-fluid">
        </div>
    }

    <mat-action-row>
        <button mat-button color="primary" (click)="expansionPanel.close(); addOtherExpense()" [disabled]="!(description && amount && imgUrl)">ADD</button>
    </mat-action-row>
  </mat-expansion-panel>