

<div class="d-flex justify-content-center align-items-center my-5">
    <button mat-raised-button color="primary" class="p-4" routerLink="/travel-order-in-progress">Start new travel order</button>
</div>

<div class="container">
    <div>
        @if (travelOrders.length > 0) {
            <h1>Your travel orders:</h1>
            @for (order of travelOrders; track $index) {
                <app-travel-order  [travelOrder]="order" [routerLink]="['/travel-order',$index]"></app-travel-order>
            }
        } @else  {
            <h2>You don't have any travel orders yet.</h2>
            <h2>Click on start new travel order.</h2>
        }
    </div>
</div>

<div class="w-100 text text-center"></div>